
BAP/bin/Debug/netcoreapp3.1/appsettings.Development.json
BAP/bin/Debug/netcoreapp3.1/appsettings.json
BAP/bin/Debug/netcoreapp3.1/BAP
BAP/bin/Debug/netcoreapp3.1/BAP.deps.json
BAP/bin/*
BAP/bin/Debug/netcoreapp3.1/BAP.pdb
BAP/bin/Debug/netcoreapp3.1/BAP.runtimeconfig.dev.json
BAP/bin/Debug/netcoreapp3.1/BAP.runtimeconfig.json
BAP/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
BAP/bin/Debug/netcoreapp3.1/nuget.config
BAP/bin/Debug/netcoreapp3.1/StaticFiles/ConfirmBody.json
BAP/bin/Debug/netcoreapp3.1/StaticFiles/SearchContext.json
BAP/bin/Debug/netcoreapp3.1/StaticFiles/selectBody.json
BAP/bin/Debug/netcoreapp3.1/test.json
BAP/obj/Debug/netcoreapp3.1/BAP.csproj.CopyComplete
BAP/obj/Debug/netcoreapp3.1/BAP.csproj.CoreCompileInputs.cache
BAP/obj/Debug/netcoreapp3.1/BAP.csproj.FileListAbsolute.txt
BAP/obj/Debug/netcoreapp3.1/BAP.dll
BAP/obj/Debug/netcoreapp3.1/BAP.genruntimeconfig.cache
BAP/obj/Debug/netcoreapp3.1/BAP.pdb
BAP/obj/Debug/netcoreapp3.1/BAP.RazorTargetAssemblyInfo.cache
BAP/obj/Debug/netcoreapp3.1/staticwebassets/BAP.StaticWebAssets.Manifest.cache
BAP/obj/Debug/netcoreapp3.1/staticwebassets/BAP.StaticWebAssets.Pack.cache
*.dll
*.pdb
SearchApi/obj/Debug/netcoreapp3.1/search.genruntimeconfig.cache
SearchApi/obj/project.assets.json
SearchApi/obj/project.nuget.cache
*.dll
*.dll
SearchApi/obj/*
SearchApi/bin/*
.vs/DSEP/xs/project-cache/*
SearchApi/Properties/launchSettings.json
SearchApi/Properties/*

SearchApi/Properties/launchSettings.json
SearchApi/obj/Debug/*
